/*
    Flaticon icon font: Flaticon
    Creation date: 28/03/2020 21:08
    */

body {
  background: url("./");
}

/*@font-face {
  font-family: "Flaticon";
  src: url("css/fonts/instrument-font/instrument-icon.eot");
  src: url("css/fonts/instrument-font/instrument-icon.eot?#iefix")
      format("embedded-opentype"),
    url("css/fonts/instrument-font/instrument-icon.woff2") format("woff2"),
    url("css/fonts/instrument-font/instrument-icon.woff") format("woff"),
    url("css/fonts/instrument-font/instrument-icon.ttf") format("truetype"),
    url("css/fonts/instrument-font/instrument-icon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("css/fonts/instrument-font/instrument-icon.svg#Flaticon")
      format("svg");
  }
}*/

/*.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-christmas-drum:before {
  content: "\f100";
}
.flaticon-drum-set-cartoon-variant:before {
  content: "\f101";
}
.flaticon-flash:before {
  content: "\f102";
}
.flaticon-progress-arrows:before {
  content: "\f103";
}
.flaticon-bass-guitar:before {
  content: "\f104";
}
.flaticon-sound:before {
  content: "\f105";
}
.flaticon-vinyl:before {
  content: "\f106";
}
.flaticon-letter-m:before {
  content: "\f107";
}
.flaticon-shuttle:before {
  content: "\f108";
}
.flaticon-shuffle-arrows:before {
  content: "\f109";
}
.flaticon-robot:before {
  content: "\f10a";
}
.flaticon-drumsticks:before {
  content: "\f10b";
}
.flaticon-tablas:before {
  content: "\f10c";
}

$font-Flaticon-christmas-drum: "\f100";
$font-Flaticon-drum-set-cartoon-variant: "\f101";
$font-Flaticon-flash: "\f102";
$font-Flaticon-progress-arrows: "\f103";
$font-Flaticon-bass-guitar: "\f104";
$font-Flaticon-sound: "\f105";
$font-Flaticon-vinyl: "\f106";
$font-Flaticon-letter-m: "\f107";
$font-Flaticon-shuttle: "\f108";
$font-Flaticon-shuffle-arrows: "\f109";
$font-Flaticon-robot: "\f10a";
$font-Flaticon-drumsticks: "\f10b";
$font-Flaticon-tablas: "\f10c";

*/
