	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/03/2020 21:08
  	*/

@font-face {
  font-family: "InstrumentFont";
  src: url("./fonts/instrument-font/instrument-icon.eot");
  src: url("./fonts/instrument-font/instrument-icon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/instrument-font/instrument-icon.woff2") format("woff2"),
       url("./fonts/instrument-font/instrument-icon.woff") format("woff"),
       url("./fonts/instrument-font/instrument-icon.ttf") format("truetype"),
       url("./fonts/instrument-font/instrument-icon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "InstrumentFont";
    src: url("./fonts/instrument-font/instrument-icon.svg#Flaticon") format("svg");
  }
}

[class^="inst-"]:before, [class*=" inst-"]:before,
[class^="inst-"]:after, [class*=" inst-"]:after {   
  font-family: "InstrumentFont";
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.inst-snares:before { content: "\f100"; }
.inst-drums:before { content: "\f101"; }
.inst-electric_sounds:before { content: "\f102"; }
.inst-loops:before { content: "\f103"; }
.inst-bass:before { content: "\f104"; }
.inst-bass_drums:before { content: "\f105"; }
.inst-vinyl:before { content: "\f106"; }
.inst-mehackit_sounds:before { content: "\f107"; }
.inst-ambient:before { content: "\f108"; }
.inst-misc:before { content: "\f109"; }
.inst-glitcht_sounds:before { content: "\f10a"; }
.inst-percussion:before { content: "\f10b"; }
.inst-tabla:before { content: "\f10c"; }